*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color:#629278; */
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #0049b7;
}

.header {
    padding: 25px;
    background-color:#0049b7 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid black;
    
}

.header h1 {
    font-size: 60px;
    background-color:#0049b7 ;
    padding: 22px;
}

.header h1 .Portfolio {
    color: #fff685;
    background-color: #0049b7;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.header nav ul li a {
    background-color: #0049b7;
    color: #f75990;
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#part1{
    background-color:#fff685 ;
    padding-top: 0px;
    justify-content: center;
    display: flex;
    font-size: 56px;
    color: #f75990;
}

.aboutme {
    display: flex;
}

.About-me{
    background-color: #0049b7;
    border-top: solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 23px;
    float:left
}

#pic {
    padding-left: 0%;
    border:solid black;
    background-color: #E8E8E8;
    border-radius: 15px;
    box-shadow: 5px -5px 10px black ;
}

#me {
    margin-bottom: 20px;
    padding: 24px;
    height: 300px;
    background-color:#f75990;
    color: white ;
}

.title{
    justify-content: center;
    color: #fff685;
    text-align: center;
    font-size: 56px;
}

.My-projects{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction:ro;
    flex: 1 0 200px;
    align-items: center;
}



.My-projects header{
    background-color: #E8E8E8;
}

.imgspan a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size: 23px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-clip: padding-box ;
}

.Horiseon{
    background-color: #0049b7;
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 900px;
    padding: 20px;
    flex: 1 0 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 23px;

  
}


.b1 {
    width: 100%;
    padding: 10px;
    height: 450px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border: solid #fff685;
}


.b2 {
    width: 30%;
    padding: 20px;
    height: 400px;
    margin-top: 15px;
    border: solid #f75990;
}

.b3 {
    width: 30%;
    padding: 10px;
    height: 400px;
    margin-top: 15px; 
    border: solid #fff685;
}

.b4 {
    width: 30%;
    padding: 10px;
    height: 400px;
    margin-top: 15px;
    border: solid #f75990;
}

.imgspan {
    justify-content: space-betwee;
}
#img1{
    background-image: url('../images/Horiseon.png');
    background-size: cover;
    box-shadow: 10px -10px 10px black ;
}

#img2 {
    background-image: url(https://img.freepik.com/premium-photo/brown-tan-abstract-background-with-brown-white-striped-surface_983420-14174.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px -10px 10px black ;
}

#img3 {
    background-image: url(https://img.freepik.com/premium-photo/brown-tan-abstract-background-with-brown-white-striped-surface_983420-14174.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px -10px 10px black ;
}

#img4 {
    background-image: url(https://img.freepik.com/premium-photo/brown-tan-abstract-background-with-brown-white-striped-surface_983420-14174.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px -10px 10px black ;
}

.footer {
    display: flex;
    justify-content:center ;
    flex-direction:row;
    border-top: double #fff685;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E8E8E8;
    flex-wrap: wrap;
   
}

.footer li {
    display: inline-block;
    font-size: 33px;
    padding: 10px;
    margin: 10px;
    color: #f75990;
    flex-wrap: wrap;
}

#contact-me {
   padding: 10px;
   margin: 15px;
   font-size: 27px;
   color: #f75990;
}
.footer a {
    color: #fff685;
   
}
/* condence un nessasary code and look at sizing of flex boxes */
